<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="11111111" />


    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="/images/coins-icon.png" rel="shortcut icon" type="image/x-icon"/>
    
    
    
	<title>EUROCRAB</title>
    <style>
    body {
    background: #FFFFFF url(images/341463.jpg) no-repeat;
    background-size: cover; /* Масштабируем фон */
    color: #FFFFFF; /* Цвет текста */
    }
    </style>
    
</head>
<body>

</body>
</html>