<!DOCTYPE HTML>
  <html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <link rel="stylesheet" th:href="@{/css/a_style.css}">
      <link rel="stylesheet" th:href="@{/css/a_reset.css}">
      <link rel="stylesheet" th:href="@{/css/jquery_confirm.css}">
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <title>Панель Управління</title>
</head>
<body>
<script th:src="@{/js/w3data.js}"></script>
<div id="block-body">
    <div w3-include-html="/include/a_block-header.html"></div>

    <div id="block-content">
        <div id="block-parameters">
            <p id="title-page" >Додання товару</p>
        </div>

        <form enctype="multipart/form-data">
            <ul id="edit-tovar">

                <li>
                    <label>Назва товару</label>
                    <input type="text" id="nameTitle" name="form_title" />
                </li>

                <li>
                    <label>Ціна</label>
                    <input type="text" id="namePrice" name="form_price"  />
                </li>

                <li>
                    <label>Ключові слова</label>
                    <input type="text" id="nameSeoWords" name="form_seo_words"  />
                </li>

                <li>
                    <label>Стислий опис</label>
                    <textarea id="nameSeoDescription" name="form_seo_description"></textarea>
                </li>
                <li>
                    <label>Тип товару</label>
                    <select name="form_type" id="form_type" size="1" >
                    </select>
                </li>
                <li>
                    <label>Стислий опис товару</label>
                    <textarea id="nameMiniDescription" name="form_mini_description"></textarea>
                </li>

                <li>
                    <label>Опис товару</label>
                    <textarea id="nameDescription" name="form_description"></textarea>
                </li>

                <li>
                    <label>Стислі характеристики</label>
                    <textarea id="nameMiniFeatures" name="form_mini_features"></textarea>
                </li>

                <li>
                    <label>Характеристики</label>
                    <textarea id="nameFeatures" name="form_features"></textarea>
                </li>


            </ul>
            <label class="stylelabel" >Основна картинка</label>

            <div id="baseimg-upload">
                <input type="file" id="nameUploadImage" name="upload_image" >
            </div>



            <label class="stylelabel" >Галерея картинок</label>

            <div id="objects" >

                <div id="addimage1" class="addimage">
                    <input type="file" onchange="readImage(1)" id="galleryimg1" name="upload_image"/>
                </div>

            </div>

            <p id="add-input" >Додати</p>

            <h3 class="h3title" >Налаштування товару</h3>
            <ul id="chkbox">
                <li><input type="checkbox" name="chk_visible" id="chk_visible" /><label for="chk_visible" >Показувати товар</label></li>
                <li><input type="checkbox" name="chk_new" id="chk_new"  /><label for="chk_new" >Новий товар</label></li>
                <li><input type="checkbox" name="chk_leader" id="chk_leader"  /><label for="chk_leader" >Популярний товар</label></li>
                <li><input type="checkbox" name="chk_sale" id="chk_sale"  /><label for="chk_sale" >Товар зі знижкою</label></li>
            </ul>


            <p align="right" ><button onclick="addInfo(document.getElementById('nameUploadImage'))" class="add btn btn-primary" type="button" id="saveProductBtn">Додати</button></p>
        </form>


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/ckeditor/ckeditor.js}"></script>
<script th:src="@{/js/add_product.js}"></script>
<script th:src="@{/js/script-a.js}"></script>
</body>
<script type="text/javascript">
    w3IncludeHTML();
</script>

</html>
