<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/trackbar/trackbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fancybox/jquery.fancybox.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/coins-icon.png}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <!-- при перенесенні в інтернет замінити на charset=utf-8-->
    <meta name="keywords"
          content="інтернет, интернет, магазин, єврокомора, еврокомора, кава, кофе, чай, солодощі, сладости, шоколад, сир, сыр, м'ясо, мясо, ковбаса, колбаса, бакалія, бакалея, оливки, олія, масло, Україна, Украина, Київ, Киев, Харків, Харьков, Одеса, Одесса, Дніпро, Днепр, Донецьк, Донецк, Запоріжжя, Запорожье, Львів, Львов, Кривий Ріг, Кривой Рог, Миколаїв, Николаев, Маріуполь Мариуполь"/>
    <meta name="description"
          content="Інтернет магазин Eurocomora.com Продукти харчування з країн ЄС. Офіційна гарантія. Доставка по всій Україні."/>
    <title>EUROCRAB</title>
    <style>
        @font-face {
            font-family: Algerian;
            src: url(/css/Algerian_Regular.ttf);
        }
    </style>

</head>
<body onpageshow="loading()" onload="loading()">
<script th:src="@{/js/w3data.js}"></script>
<div id="block-body">
    <div w3-include-html="include/block-header.html"></div>

    <div id="block-content-2">
        <div class="pronasdescription-main">
            Публічна оферта:
        </div>
        <ol>
            <li><a class="rulesmenumenu" href="#a">Основні поняття:</a></li>
            <li><a class="rulesmenumenu" href="#b">Загальні положення:</a></li>
            <li><a class="rulesmenumenu" href="#c">Предмет угоди:</a></li>
            <li><a class="rulesmenumenu" href="#d">Реєстрація на сайті:</a></li>
            <li><a class="rulesmenumenu" href="#e">Товар та порядок здійснення покупки:</a></li>
            <li><a class="rulesmenumenu" href="#f">Доставка замовлення:</a></li>
            <li><a class="rulesmenumenu" href="#g">Оплата товару:</a></li>
            <li><a class="rulesmenumenu" href="#h">Повернення товару та грошових коштів:</a></li>
            <li><a class="rulesmenumenu" href="#i">Відповідальність:</a></li>
            <li><a class="rulesmenumenu" href="#j">Конфіденційність і захист інформації:</a></li>
            <li><a class="rulesmenumenu" href="#k">Термін дії Публічної оферти:</a></li>
            <li><a class="rulesmenumenu" href="#l">Загальні положення</a></li>
        </ol>
        <div><br></div>
        <div class="pronasdescription-up" id="a">Основні поняття:
            <li class="pronasdescription-in">Відвідувач Сайту  - особа, що відвідала сайт http://www.eurocrab.com без
                мети розміщення Замовлення.</li>
            <li class="pronasdescription-in">Користувач  - фізична особа, відвідувач Сайту, що приймає умови угоди і хто
                хоче оформити Замовлення на
                сайті http://www.eurocrab.com.</li>
            <li class="pronasdescription-in">Покупець  - Користувач, що розмістив Замовлення на сайті http://www.eurocrab.com
                з метою придбання товару для особистих потреб.</li>
            <li class="pronasdescription-in">Eurocrab  - фізична особа-підприємець Десятник Роман Андрійович, ІПН 3085609770,
                юридична адреса: 79012, Львівська обл., місто Львів, Вулиця Дзиндри, будинок 1, квартира 41. Продавець є
                резидентом України. Продаж товарів здійснюється зі складів Продавця, що знаходяться в межах України.</li>
            <li class="pronasdescription-in">Продавець - фізична особа-підприємець Десятник Роман Андрійович, ІПН 3085609770,
                товар якої розміщений в Інтернет-магазині.</li>
            <li class="pronasdescription-in">Інтернет-магазин  - Інтернет-сайт, розташований в мережі інтернет за адресою
                http://www.eurocrab.com, де представлені Товари, пропоновані Продавцем для придбання, а також умови оплати
                і доставки Товарів Покупцям.</li>
            <li class="pronasdescription-in">Сайт  - http://www.eurocrab.com.</li>
            <li class="pronasdescription-in">Товар  - продукти харчування, нехарчові продукти та інші товари, представлені
                до продажу на Сайті Продавця.</li>
            <li class="pronasdescription-in">Замовлення  - належним чином оформлений запит Покупця на придбання і доставку
                за вказаною Покупцем адресою Товарів, обраних на Сайті.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="b">1. загальні положення:
            <li class="pronasdescription-in">1.1. Продавець здійснює продаж Товарів через Інтернет-магазин за адресою
                http://www.eurocrab.com або ж через мобільні додатки Eurocrab для операційних систем iOS і Android.</li>
            <li class="pronasdescription-in">1.2. Замовляючи Товари через Інтернет-магазин, Користувач погоджується з
                умовами продажу Товарів, викладеними нижче (далі - Умови продажу товарів). У разі незгоди Користувач
                зобов'язаний негайно припинити використання сервісу і покинути сайт http://www.eurocrab.com.</li>
            <li class="pronasdescription-in">1.3. Ці Умови продажу товарів, а також інформація про товар, представлена ​​
                на Сайті, є публічною офертою відповідно до ст. 633 Цивільного кодексу України.</li>
            <li class="pronasdescription-in">1.4. Ці умови можуть бути змінені Продавцем в односторонньому порядку без
                повідомлення Користувача / Покупця. Нова редакція Умов набуває чинності з моменту її опублікування на
                Сайті, якщо не буде передбачено інше.</li>
            <li class="pronasdescription-in">1.5. Угода (далі - Угода) вступає в силу з моменту відправки Покупцеві
                Продавцем електронного підтвердження прийняття Замовлення при оформленні Покупцем Замовлення без авторизації
                на Сайті, а також з моменту прийняття від Покупця Замовлення по телефонах +38(099)0036705 чи/або +38(098)0036705
                чи/або +38(073)0036705.</li>
            <li class="pronasdescription-in">1.5.1. Договір роздрібної купівлі-продажу Товару вважається укладеним з
                моменту видачі Продавцем Покупцеві касового або товарного чека або іншого документа, що підтверджує о
                плату товару.</li>
            <li class="pronasdescription-in">1.5.2. Повідомляючи Продавцю свій e-mail і номер телефону, Відвідувач
                Сайту / Користувач / Покупець дає згоду на використання зазначених засобів зв'язку Продавцем, а також
                третіми особами, що залучаються ним для цілей виконання зобов'язань перед Відвідувачами сайту / Користувачами /
                Покупцями, з метою здійснення розсилок рекламного і інформаційного характеру, що містять інформацію про знижки,
                майбутніх і діючих акціях та інших заходах Продавця, про передачу замовлення в доставку, а також іншу інформацію,
                безпосередньо пов'язану з виконанням зобов'язань Покупцем в рамках Публічної оферти. Здійснюючи Замовлення,
                Користувач / Покупець погоджується з тим, що Продавець може доручити виконання Договору третій особі, при
                цьому залишаючись відповідальним за його виконання.</li>
            <li class="pronasdescription-in">1.6. В рамках Замовлення Eurocrab надає Користувачеві інформаційний супровід
                укладеного Користувачем з Продавцем Договору.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="c">2. предмет угоди:
            <li class="pronasdescription-in">2.1. Предметом Угоди є надання можливості Користувачеві купувати для особистих,
                сімейних, домашніх і інших потреб, не пов'язаних із здійсненням підприємницької діяльності, Товари, представлені
                в каталозі Інтернет-магазину за адресою http://www.eurocrab.com.</li>
            <li class="pronasdescription-in">2.2. Дана Угода поширюється на всі види Товарів і послуг, представлених на Сайті,
                поки такі пропозиції з описом присутні в каталозі Інтернет-магазину.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="d">3. реєстрація на сайті:
            <li class="pronasdescription-in">3.1. Реєстрація на Сайті здійснюється за допомогою вікна «Реєстрація».</li>
            <li class="pronasdescription-in">3.2. Реєстрація на Сайті не є обов'язковою для оформлення Замовлення.</li>
            <li class="pronasdescription-in">3.3. Продавець не несе відповідальності за точність і правильність інформації,
                що надається Користувачем при реєстрації.</li>
            <li class="pronasdescription-in">3.4. Користувач зобов'язується не повідомляти третім особам логін і пароль,
                вказані Користувачем при реєстрації. У разі виникнення у Користувача підозр щодо безпеки його логіна і пароля
                або можливості їх несанкціонованого використання третіми особами, Користувач зобов'язується негайно повідомити
                про це Продавця, направивши відповідний електронний лист за адресою: some@some.com.</li>
            <li class="pronasdescription-in">3.5. Спілкування Користувача / Покупця з операторами Call-центру / менеджерами та
                іншими представниками Продавця має будуватися на принципах загальноприйнятої моралі і комунікаційного етикету.
                Строго заборонено використання нецензурних слів, лайки, образливих виразів, а також загроз і шантажу, в незалежності
                від того, в якому вигляді і кому вони були адресовані.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="e">4. товар та порядок здійснення покупки:
            <li class="pronasdescription-in">4.1 Продавець забезпечує наявність на своєму складі Товарів, представлених на Сайті.
                Супроводжуючі Товар фотографії є ​​простими ілюстраціями до нього і можуть відрізнятися від фактичного зовнішнього
                вигляду Товару. Супроводжуючі Товар опису / характеристики не претендують на вичерпну інформативність і можуть
                містити друкарські помилки. Для уточнення інформації по Товару Покупець повинен звернутися в Службу підтримки клієнтів.
                Оновлення інформації, представленої на Сайті, проводиться кожні 30 хвилин.</li>
            <li class="pronasdescription-in">4.2 У разі відсутності замовлених Покупцем Товарів на складі Продавця, останній
                має право виключити вказаний Товар із Замовлення / анулювати Замовлення Покупця, повідомивши про це Покупця
                шляхом направлення відповідного електронного повідомлення на адресу, вказану Покупцем при реєстрації (або
                дзвінком оператора Call-центру Eurocrab).</li>
            <li class="pronasdescription-in">4.3 Покупець несе повну відповідальність за надання неправдивих відомостей,
                що спричинило за собою неможливість належного виконання Продавцем своїх зобов'язань перед Покупцем.</li>
            <li class="pronasdescription-in">4.4 У разі скасування повністю або частково передплаченого Замовлення вартість
                анульованого Товару повертається Продавцем Покупцю способом, яким Товар був оплачений.</li>
            <li class="pronasdescription-in">4.5 Замовлення Покупця оформлюється відповідно до процедур, зазначених на Сайті
                в розділі «Для нових користувачів» за адресою http://www.eurocrab.com/zakaz.</li>
            <li class="pronasdescription-in">4.6 Після оформлення Замовлення на Сайті Покупцеві надається інформація про
                передбачувану дату доставки шляхом надсилання електронного повідомлення на адресу, вказану Покупцем при
                реєстрації, або по телефону. Менеджер, який обслуговує дане Замовлення, уточнює деталі Замовлення, погоджує
                дату доставки, яка залежить від того, яке юридична особа / індивідуальний підприємець є Продавцем замовленого
                Покупцем Товару, наявності замовлених Товарів на складі Продавця і часу, необхідного для обробки і доставки
                Замовлення.</li>
            <li class="pronasdescription-in">4.7 Очікувана дата передачі Замовлення в Службу доставки повідомляється Покупцю
                менеджером, обслуговуючим Замовлення, по електронній пошті або при контрольному дзвінку Покупцеві. Дата
                передачі Товару може бути змінена Продавцем в односторонньому порядку в разі наявності об'єктивних, на думку
                Продавця, причин.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="f">5. доставка замовлення:
            <li class="pronasdescription-in">5.1. Товар доставляється поштовим оператором у вигляді поштового відправлення
                з перед або післяплатою. Способи доставки Товарів - самовивіз або курьєрска служба. Конкретні терміни доставки
                можуть бути узгоджені Покупцем з оператором Call-центру при підтвердженні замовлення.</li>
            <li class="pronasdescription-in">5.2. Територія доставки Товарів, представлених на Сайті, обмежена межами України.</li>
            <li class="pronasdescription-in">5.3. Затримки в доставці можливі зважаючи на непередбачені обставини, що сталися не з вини Продавця.</li>
            <li class="pronasdescription-in">5.4. При доставці Замовлення вручається Покупцеві або третій особі, зазначеному
                в замовленні в якості одержувача (далі Покупець і третя особа іменуються «Одержувач»). При неможливості
                отримання Замовлення, сплаченого за допомогою готівкового розрахунку, зазначеними вище особами, Замовлення м
                оже бути вручений особі, якій може надати відомості про замовленні (номер відправлення і / або ПІБ отримувача),
                а також оплатити вартість замовлення в повному обсязі особі, яка здійснює доставку Замовлення.</li>
            <li class="pronasdescription-in">5.5. Ризик випадкової загибелі або випадкового пошкодження Товару переходить
                до Покупця з моменту передачі йому Замовлення і проставлення Одержувачем Замовлення підписи в документах,
                що підтверджують доставку Замовлення.</li>
            <li class="pronasdescription-in">5.6. Щоб уникнути випадків шахрайства, а також для виконання взятих на себе
                зобов'язань, зазначених в пункті 5.4. цієї Угоди, при врученні передплаченого Замовлення особа, яка здійснює
                поставку Замовлення, має право зажадати документ, що засвідчує особу отримувача, а також вказати тип і номер
                наданого Одержувачем документа на квитанції до Замовлення. Продавець гарантує конфіденційність і захист
                персональних даних отримувача.</li>
            <li class="pronasdescription-in">5.7. Вартість доставки кожного Замовлення розраховується індивідуально,
                виходячи з ваги Товару, регіону та способу доставки.</li>
            <li class="pronasdescription-in">5.8. Обов'язок Продавця передати товар Покупцю вважається виконаним в момент
                отримання Покупцем відправлення, як цей момент визначається відповідно до діючих правил поштового зв'язку.</li>
            <li class="pronasdescription-in">5.8.1. Порядок доставки та розкриття Відправлень, що містять товар, визначається
                діючими правилами поштового зв'язку.</li>
            <li class="pronasdescription-in">5.9. При прийнятті Замовлення від кур'єра, Одержувач зобов'язаний оглянути
                доставлений Товар і перевірити його на відповідність заявленій якості, асортименту та комплектності Товару,
                а також перевірити кінцевий термін придатності доставленого Товару і цілісність упаковки. У разі відсутності
                претензій до доставленому Товару, Одержувач розписується в «Бланку доставки замовлень» і, у випадках зазначених
                данною публічною офертою, оплачує Замовлення. Підпис в постачальних документах свідчить про те, що претензій до
                Товару отримувача не заявлено і Продавець повністю і належним чином виконав свій обов'язок щодо передачі Товару.</li>
            <li class="pronasdescription-in">5.10. Час перебування кур'єрів, що доставляють товар, який реалізується Eurocrab,
                за адресою Одержувача обмежений 15 хвилинами.</li>
            <li class="pronasdescription-in">5.11. Уточнити дату, час і при необхідності маршрут доставки, можна у менеджера,
                який зв'язується з Покупцем для підтвердження Замовлення. Співробітники і фахівці call-центру Eurocrab
                зобов'язуються надавати будь-яке можливе сприяння і приймати залежне від них заходи для надання Покупцеві
                такої інформації.</li>
            <li class="pronasdescription-in">5.12. Користувач розуміє і погоджується з тим, що:
                здійснення доставки - окрема послуга, яка не є невід'ємною частиною придбаного Покупцем Товару, виконання
                якої закінчується в момент отримання Одержувачем Товару і здійснення платежу за нього. Претензії до якості
                придбаного Товару, що виникли після отримання та оплати Товару, розглядаються відповідно до Закону України «Про
                захист прав споживачів» та гарантійними зобов'язаннями Продавця. У зв'язку з цим придбання Товару з доставкою не дає
                Покупцеві право вимоги доставки придбаного Товару з метою гарантійного обслуговування або заміни, не дає можливості
                здійснювати гарантійне обслуговування або заміну Товару виїхавши до Покупця і не має на увазі можливість
                повернення вартості доставки Товару у випадках, коли Покупець має право на повернення грошей за Товар як такої.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="g">6. оплата товару:
            <li class="pronasdescription-in">6.1. Ціна товару вказується в гривнях і включає в себе податок на додану
                вартість у разі, якщо відповідний Продавець застосовує загальну систему оподаткування.</li>
            <li class="pronasdescription-in">6.1.1. Сума замовлення складається з вартості замовлених товарів.</li>
            <li class="pronasdescription-in">6.2. Ціна Товару вказується на Сайті. Що стосується неправильного вказівки
                ціни замовленого Покупцем Товару, Продавець інформує про це Покупця для підтвердження Замовлення по
                виправленої ціною або анулювання Замовлення. При неможливості зв'язатися з Покупцем дане Замовлення
                вважається анульованим.</li>
            <li class="pronasdescription-in">6.3. Ціна Товару на Сайті може бути змінена Продавцем в односторонньому
                порядку. При цьому ціна на замовлений Покупцем Товар зміні не підлягає.</li>
            <li class="pronasdescription-in">6.4. Оплата Товару здійснюється Покупцем:</li>
            <li class="pronasdescription-in">6.4.1. готівковими коштами при одержанні Замовлення в сумі, що відповідає
                сумі Замовлення, зазначеної на Сайті з урахуванням знижок;</li>
            <li class="pronasdescription-in">6.4.2. безготівковими коштами з використанням банківських карт при оформленні
                Замовлення в сумі, що відповідає сумі Замовлення, зазначеної на Сайті з урахуванням знижок.</li>
            <li class="pronasdescription-in">6.5. Eurocrab маює право надавати знижки на Товари та встановлювати програму
                бонусів. Види знижок, бонусів, порядок і умови нарахування визначаються Продавцем самостійно і вказані на
                Сайті і можуть бути змінені Продавцем в односторонньому порядку.</li>
            <li class="pronasdescription-in">6.6. Eurocrab веде статистику оформлених Покупцем замовлень. Eurocrab вправі
                в односторонньому порядку визначати способи оплати, доступні відповідному Покупцеві, грунтуючись на
                статистиці дій, скоєних Покупцем у взаєминах з Eurocrab.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="h">7. повернення товару та грошових коштів:
            <li class="pronasdescription-in">7.1. Повернення Товару здійснюється відповідно до розділу «Повернення»,
                Зазначеним на Сайті за адресою http://www.eurocrab.com/vozvrat/. Покупець має право відмовитися від
                отриманого Товару та розірвати Договір купівлі-продажу протягом 14 календарних днів з дня отримання Товару,
                не рахуючи дня покупки, за винятком Товарів, які не підлягають обміну та поверненню відповідно до п. 7.2.4.
                цієї Угоди. Товар, що повертається, з усіма пломбами, ярликами повинен бути висланий Покупцем або поштою
                за наступною адресою: 79012, Львівська обл., місто Львів, Вулиця Дзиндри, будинок 1, квартира 41, або з
                відділення кур'єрської служби «Нова Пошта» вказавши одержувача фізична особа-підприємець Десятник Роман
                Андрійович, адреса доставки: 79012, Львівська обл., місто Львів, Вулиця Дзиндри, будинок 1, квартира 41
                +380964831999, з вкладенням наступних документів: власноруч заповнену заяву про повернення товару.
                Відправлення товарів здійснюється за рахунок Покупця. Також Товар можна повернути кур'єром Eurocrab при
                отриманні нового замовлення.</li>
            <li class="pronasdescription-in">7.2. Повернення Товару належної якості:</li>
            <li class="pronasdescription-in">7.2.1. Повернення Товару належної якості можливий у випадку, якщо товар не
                використовувався, збережено його товарний вид, споживчі властивості, пломби, ярлики, а також збережений
                розрахунковий документ, виданий Покупцеві разом з проданим товаром.</li>
            <li class="pronasdescription-in">7.2.2. При відмові Покупця від Товару згідно п.7.2.1. Продавець повертає
                йому вартість повернутого Товару, протягом 30 днів з дати надходження повернутого Товару на склад Продавця
                разом з заповненим Покупцем заявою на повернення. Повернення грошових коштів вартості Товару здійснюється
                виключно особі, зазначеній в замовленні на Товар. У разі, якщо Покупець в замовленні вказав невірні дані,
                Продавець залишає за собою право відмовити такому Покупцеві в поверненні коштів.</li>
            <li class="pronasdescription-in">7.2.3. Якщо на момент звернення Покупця аналогічний товар відсутній у продажу
                у Продавця, Покупець має право відмовитися від виконання цієї Угоди і зажадати повернення сплаченої за
                вказаний Товар грошової суми. Продавець зобов'язаний повернути сплачену за повернутий товар грошову суму
                протягом 30 днів з дня повернення Товару.</li>
            <li class="pronasdescription-in">7.3. Повернення Товару неналежної якості:</li>
            <li class="pronasdescription-in">7.3.1. Під товаром неналежної якості мається на увазі товар, який несправний
                і не може забезпечити виконання своїх функціональних якостей. Отриманий Товар повинен відповідати опису
                на Сайті. Відмінність елементів дизайну, або оформлення від заявлених в описі на Сайті не є ознакою неналежної
                якості Товару та / або неможливості використання його за призначенням.</li>
            <li class="pronasdescription-in">7.3.2. Зовнішній вигляд і комплектність Товару, а також комплектність усього
                Замовлення повинні бути перевірені Одержувачем в момент доставки Товару.</li>
            <li class="pronasdescription-in">7.3.3. Після отримання Замовлення претензії до зовнішніх дефектів товару, його
                кількості, комплектності та товарного вигляду не приймаються.</li>
            <li class="pronasdescription-in">7.3.4. Якщо Покупцеві був переданий Товар неналежної якості та інше не було
                заздалегідь обумовлено Продавцем, Покупець має право скористатися положеннями ст. 8 «Права споживача у разі
                придбання ним товару неналежної якості» Закону України «Про захист прав споживачів».</li>
            <li class="pronasdescription-in">7.3.5. Вимоги про повернення сплаченої за товар грошової суми підлягають
                задоволенню протягом 30 днів з дня пред'явлення відповідної вимоги (п. 4 ст. 12 Закону України «Про захист прав споживачів»).</li>
            <li class="pronasdescription-in">7.4. Товар (належного і неналежного якості) може бути повернутий кур'єру
                Eurocrab під час викупу наступного замовлення, за умови, що річ, яка підлягає поверненню була викуплена не раніше ніж 14
                днів до поточної дати. Після оформлення повернення, клієнт отримує від кур'єрської Eurocrab служби смс-повідомлення,
                яке містить в тексті посилання на електронну квитанцію про повернення.</li>
            <li class="pronasdescription-in">7.5. Повернення грошових коштів здійснюється за допомогою повернення вартості
                оплаченого Товару поштовим, банківським переказом (через ПриватБанк), а також шляхом перерахування на
                банківську карту (карта повинна бути емітована на території України; валюта карти - гривня). Спосіб повинен
                бути зазначений у відповідному полі заяви на повернення Товару. Способи повернення коштів, сплачених за Товар
                неналежної якості, що реалізується Продавцями, відмінними від Eurocrab, визначається такими Продавцями самостійно
                і вказуються на відповідних Сторінках Продавців.</li>
            <li class="pronasdescription-in">7.6. У разі оплати Замовлення способом, зазначеним в п. 6.4.2. Оферти, повернення
                грошових коштів здійснюється за допомогою повернення вартості оплаченого Товару на банківську карту, за допомогою
                якої було сплачено Товар.</li>
            <li class="pronasdescription-in">7.7. Гарантійний термін на Товари та умови зберігання встановлюється виробником
                і вказується на етикетці або на ярлику. Продавець забезпечує дотримання умов зберігання, та використання
                товарів протягом гарантійного терміну.</li>
            <li class="pronasdescription-in">7.3. Продавець не відповідає за недоліки Товару, якщо вони виникли після його
                передачі Покупцеві внаслідок порушення Покупцем правил користування або зберігання товару, дій третіх осіб,
                або непереборної сили.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="i">8. відповідальність:
            <li class="pronasdescription-in">8.1. Продавець не несе відповідальності за шкоду, заподіяну Покупцеві внаслідок
                неналежного використання Товарів, придбаних в Інтернет-магазині.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="j">9. конфіденційність і захист інформації:
            <li class="pronasdescription-in">9.1. Персональні дані Користувача / Покупця обробляється відповідно до Закону
                України від 01 червня 2010 № 2297-VI «Про захист персональних даних».</li>
            <li class="pronasdescription-in">9.2. Особисті дані збираються виключно з метою дотримання вимог, що діють в
                сфері регулювання податкових відносин, відносин у сфері бухгалтерського обліку та відносин у сфері реклами.
                Термін зберігання і обробки персональних даних становить 5 років.</li>
            <li class="pronasdescription-in">9.3. Сайт  - http://www.eurocrab.com.</li>
            <li class="pronasdescription-in">9.4. При реєстрації на Сайті Користувач надає наступну інформацію:
                Прізвище, Ім'я, По баткові, адреса доставки, адреса електронної пошти, номер контактного телефону та пароль
                для доступу до Сайту.</li>
            <li class="pronasdescription-in">9.5. Продавець використовує персональні дані Користувача / Покупця: для реєстрації
                Користувача на Сайті, для виконання своїх зобов'язань перед Користувачем / Покупцем, для оцінки та аналізу роботи
                Сайту, для визначення переможця в акціях, що проводяться Продавцем.</li>
            <li class="pronasdescription-in">9.5.1. Продавець має право відправляти інформаційні, в тому числі рекламні
                повідомлення, на електронну пошту і мобільний телефон Користувача / Покупця з його згоди. Користувач /
                Покупець має право відмовитися від отримання рекламної та іншої інформації без пояснення причин відмови.
                Сервісні повідомлення, що інформують Користувача / Покупця про замовлення і етапах його обробки, відправляються
                автоматично і не можуть бути відхилені Користувачем / Покупцем.</li>
            <li class="pronasdescription-in">9.6. Продавець має право використовувати технологію «Cookies». «Cookies» не
                містять конфіденційну інформацію і не передаються третім особам..</li>
            <li class="pronasdescription-in">9.7. Продавець отримує інформацію про ip-адресу відвідувача Сайту www.eurocrab.com.
                Дана інформація не використовується для встановлення особистості відвідувача.</li>
            <li class="pronasdescription-in">9.8. Продавець не несе відповідальності за відомості, надані Користувачем /
                Покупцем на Сайті в загальнодоступній формі</li>
            <li class="pronasdescription-in">9.9. Продавець має право здійснювати записи телефонних розмов з
                Користувачем / Покупцем. При цьому Продавець зобов'язується: запобігати спробам несанкціонованого
                доступу до інформації, отриманої в ході телефонних переговорів, і / або передачу її третім особам, які не
                мають безпосереднього відношення до виконання Замовлень, відповідно до Закону України від 02.10.1992 року № 2657-XII «Про інформації ».</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="k">10. термін дії Публічної оферти:
            <li class="pronasdescription-in">10.1. Справжня Публічна оферта вступає в силу з моменту його акцепту
                Відвідувачем Сайту / Покупцем, і діє до моменту відкликання акцепту Публічної оферти.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-up" id="l">11. загальні положення:
            <li class="pronasdescription-in">11.1. Продавець має право переуступати або яким-небудь іншим способом передавати
                свої права та обов'язки, що випливають з його відносин з Покупцем, третім особам.</li>
            <li class="pronasdescription-in">11.2. Інтернет-магазин і сервіси що надаються - можуть бути тимчасово
                частково або повністю недоступні унаслідок проведення профілактичних або інших робіт або з будь-яких
                інших причин технічного характеру. Технічна служба Продавця має право періодично проводити необхідні
                профілактичні або інші роботи з попереднім повідомленням Покупців або без такого.</li>
            <li class="pronasdescription-in">11.3. До відносин між Користувачем / Покупцем і Продавцем застосовуються
                положення законодавства України.</li>
            <li class="pronasdescription-in">11.4. У разі виникнення питань і претензій з боку Користувача / Покупця він
                може звернутися до Продавця по телефону або іншим доступним способом. Все виникає суперечки сторони будуть
                намагатися вирішити шляхом переговорів, у разі недосягнення угоди суперечка буде переданий на розгляд до
                судового органу відповідно до чинного законодавства України.</li>
            <li class="pronasdescription-in">11.5. Визнання судом недійсності будь-якого положення цієї Угоди не тягне
                за собою недійсність інших положень.</li>
            <li class="pronasdescription-in">11.6. У разі оплати Замовлення способом, зазначеним в п. 6.4.2. Оферти,
                можливо списання додаткової комісії банком-емітентом.</li>
        </div>
        <div><br></div>
        <div class="pronasdescription-main">
            Eurocrab.com - магазин вигідних, комфортних, безпечних закупівель!
        </div>
    </div>
    <div w3-include-html="include/block-footer.html"></div>

    <div w3-include-html="include/block-created.html"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/js/jquery.cookie.min.js}"></script>
<script th:src="@{/trackbar/jquery.trackbar.js}"></script>
<script th:src="@{/js/TextChange.js}"></script>
<script th:src="@{/js/twbsPagination.js}"></script>
<script th:src="@{/js/TextChange.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/block-news.js}"></script>
<script th:src="@{/js/block-parameter.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/jcarousellite_1.0.1.js}"></script>
<script th:src="@{/js/shop-script.js}"></script>
<script th:src="@{/js/jTabs.js}"></script>
<script th:src="@{/fancybox/jquery.fancybox.js}"></script>


</body>
<script type="text/javascript">
    w3IncludeHTML();
</script>
</html>